DJANGO_ENV=development
DEBUG=True

SECRET_KEY=4=+1l&u=o!!i-=3$i)h$f8ubu^*ydgur_i_&a1k=+3ywj&xh2k
DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/django-db
# DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=localhost,127.0.0.1